html,body{
background-color: #FFC0CB;
}
h1{
	color: #FF0000;
	text-align: center;
	text-decoration: underline;
}
h2 {
	color: blue;
	text-align: center;
	font-family:verdana;
	font-size:75%;

}
p{
	font-style: italic;
}
p#hook1 {
	color : red;
}

